<style>
    .footer {
        margin: 0;
        width: 100%;
        display: flex;
        background-color: black;
        /*background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);*/
        color: white;
        justify-content: center;
    }

    .footer .footer-content {
        display: flex;
        text-align: center;
        justify-content: center;

    }

    .footer .footer-content .footer-section {
        flex: 1;
        padding: 25px;
    }
    .footer .footer-content .footer-section li{
        list-style: none;
    }

    .footer .footer-content h1,
    .footer .footer-content h2 {
        color: white;
    }

    .footer .footer-content .about h1 span {
        color: aqua;
    }

    .footer .footer-content .links h2 {
        color: aqua;
    }

    .footer .footer-content .quotes h2 {
        color: aqua;
    }

    .footer .footer-content .about .contact span {
        display: block;
        font-size: 1.1em;
        margin-bottom: 8px;
    }

    .footer .footer-content .about .socials a {
        border: 1px solid grey;
        color: aqua;
        width: 45px;
        height: 30px;
        padding: 5px;
        margin-right: 5px;
        text-align: center;
        display: inline-block;
        font-size: 1.3em;
        border-radius: 5px;
        transition: all 0.3s;
    }

    .footer .footer-content .about .socials a:hover {
        border: 1px solid white;
        color: white;
        transition: all 0.3s;
    }
    
    .footer .footer-content .about .contact a {
        text-decoration: none;
        color: whitesmoke;
        transition: all 0.3s;
        border: none;
    }

    .footer .footer-content .about .contact a:hover {
        border: none;
        color: wheat;
        margin-left: 15px;
        transition: all 0.3s;
    }

    .footer .footer-content .links ul a {
        display: block;
        color: white;
        margin-bottom: 10px;
        font-size: 1.2em;
        transition: all .3s;
        text-decoration: none;
    }

    .footer .footer-content .links ul a:hover {
        color: wheat;
        margin-left: 15px;
        transition: all .3s;
    }

    section {
        width: 100%;
        text-align: center;
        background-color: black;
        color: white;
        padding: 10px 10px 10px 10px;
    }

    /*Responsive Footer*/
    @media (max-width: 1280px) {
        .footer .footer-content {
            display: inline;
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }
</style>
<div class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h1 class="logo-text"><span>Samburu National</span>Reserve</h1>
            <p>The Samburu National Reserve is a game reserve on the banks of the Ewaso Ng'iro river in Kenya. 
                On the other side of the river is the Buffalo Springs National Reserve. 
                The park is 165 km² in size and is situated 350 kilometers from Nairobi. 
                It ranges in altitude from 800 to 1230 m above sea level.
                Geographically, it is located in Samburu County.
            </p><br>
            <div class="contact">
                <span><i class="fa fa-phone"></i><a href="tel:0769154716"> &nbsp; 0769154716</a></span>
                <span><i class="fa fa-envelope"></i><a href="mailto:albertltupukwa2001@gmail.com">&nbsp;
                        info@samburunationalreserve.com</a></span>
            </div><br>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-section links">
            <h2>Quick links</h2>
            <br>
            <ul>
                <a href="epoke.html">
                    <li>Home</li>
                </a>
                <a href="#About">
                    <li>Services</li>
                </a>
                <a href="#Services">
                    <li>Gallery</li>
                </a>
            </ul>
        </div>
        <div class="footer-section quotes">
            <h2>Inspiration Quotes</h2>
            <p><q>“There is something about safari life that makes you forget all your sorrows and feel as if you had drunk half a bottle of champagne — bubbling over with heartfelt gratitude for being alive.”
                </q> ~ Karen Blixen </p><br>
            <p><q>“Reminds me of my safari in Africa. Somebody forgot the corkscrew and for several days we had to live on nothing but food and water.”
                </q> ~ W. C. Fields</p><br>
            <p><q>“If there were one more thing I could do, it would be to go on safari once again.”
                </q> ~ Karen Blixen</p><br>
        </div>
    </div>
</div>
<section>&copy;2022 Samburu National Reserve | All Rights Reserved<br>Designed by Bertostech<br></section>